<div class="comments__item">
  <div class="comments__itemHead">
    <span class="comments__itemName"><%= comment.name %></span>
    <span><%= comment.created_at.to_s(:datetime_jp) %></span>
  </div>
  <div class="comments__itemBody"><%= simple_format(comment.comment) %></div>
  <span class="comments__itemBtn"><%= link_to '', comment, method: :delete,data: { confirm: '削除してもよろしいですか？'} %></span>
</div>
