<div class="comments__item">
  <div class="comments__itemHead">
    <span class="comments__itemName"><%= User.find_by(id: comment.user_id).name %></span>
    <span><%= comment.created_at.to_s(:datetime_jp) %></span>
  </div>
  <div class="comments__itemBody"><%= simple_format(comment.comment) %></div>
  <% if @current_user && @current_user.id == comment.user_id %>
    <span class="comments__itemBtn"><%= link_to '削除', comment, method: :delete,data: { confirm: '削除してもよろしいですか？'} %></span>
  <% end %>
</div>
