<div class="main articles-new">
  <div class="container">
    <h1 class="form-heading">編集する</h1>
    <div class="form">
      <div class="form-body">
        <% @article.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>
        <%= render partial: 'form', locals: { article:@article }%>
      </div>
    </div>
  </div>
</div>