<div class="container">
  <div class="articles">
    <h2 class="articles__title">いいねした記事一覧</h2>
    </div>
    <% if !@current_user.like_articles.empty? %>
      <div class="articles__cards">
        <% @current_user.like_articles.each do |article| %>
          <%= render partial: 'articles', locals: { article: article} %>
        <% end %>
    </div>
    <% else %>
      <div class="noArticle">いいねした記事はまだありません</div>
    <% end %>
  </div>
</div>
