//header {
.header__menuItem {
  --borderWidth: 2px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 20px;
  margin-left: 12px;
  border-radius: var(--borderWidth);
  z-index: 100;
  font-size: 12px;
  letter-spacing: 0.1em;
  &:hover {
    &::after {
      content: "";
      position: absolute;
      top: calc(-1 * var(--borderWidth));
      left: calc(-1 * var(--borderWidth));
      height: calc(100% + var(--borderWidth) * 2);
      width: calc(100% + var(--borderWidth) * 2);
      background: linear-gradient(
        60deg,
        #f79533,
        #f37055,
        #ef4e7b,
        #a166ab,
        #5073b8,
        #1098ad,
        #07b39b,
        #6fba82
      );
      border-radius: calc(2 * var(--borderWidth));
      z-index: -1;
      animation: animatedgradient 3s ease alternate infinite;
      background-size: 300% 300%;

      @keyframes animatedgradient {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
      }
    }
  }
}
// 共通
.container {
  width: 80%;
  max-width: 960px;
  margin: 0 auto;
  padding-bottom: 64px;
  &--small {
    max-width: 720px;
  }
}
.flash {
  position: absolute;
  top: -42px;
  width: 100%;
  height: 60px;
  padding-left: 12px;
  border-radius: 6px;
  color: #333;
  line-height: 60px;
  background: rgba(255, 255, 255, 0.8);
  transition: all 0.3s;
}
.errorMessage {
  color: #f79533;
}
// 一覧
.mv {
  &__bg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 230px;
    background: linear-gradient(
      45deg,
      #3f51b1 0%,
      #5a55ae 13%,
      #7b5fac 25%,
      #8f6aae 38%,
      #a86aa4 50%,
      #cc6b8e 62%,
      #f18271 75%,
      #f3a469 87%,
      #f7c978 100%
    );
    background-size: 300% 300%;
    animation: mvImg 5s ease infinite;

    @keyframes mvImg {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
  }
  &__text {
    font-size: 48px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    letter-spacing: 0.2em;

    & span {
      font-size: 14px;
      font-weight: normal;
      letter-spacing: 0.2em;
    }

    @media screen and (max-width: 960px) {
      font-size: 32px;
    }
  }
}
.articles {
  position: relative;
  &__title {
    padding-top: 42px;
    text-align: center;
    letter-spacing: 0.1em;
  }
  &__tags {
    padding-top: 12px;
    text-align: center;
    letter-spacing: 0.1em;
    & select {
      border: 1px solid #f18271;
      border-radius: 16px;
      padding: 0 12px;
      font-size: 12px;
    }
  }
  &__cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr) [3];
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
    grid-row-gap: 3rem;
    row-gap: 3rem;
    margin-top: 32px;

    @media screen and (max-width: 960px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: 414px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  &__card {
    position: relative;
    height: 234px;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.3);

    &ImgWrapper {
      position: relative;
      height: 120px;
      overflow: hidden;
      border-radius: 6px 6px 0 0;
    }

    &Img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 6px 6px 0 0;
    }

    &Title {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;
      padding: 8px 8px 0;
      font-size: 16px;
    }

    &Body {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      padding: 8px 8px 4px;
      font-size: 12px;
    }

    &Time {
      position: absolute;
      right: 12px;
      bottom: 4px;
      font-size: 10px;
    }
  }
}
.createBtn {
  position: fixed;
  right: 42px;
  bottom: 32px;
  width: 46px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #fff;
  & img {
    width: 28px;
    height: 28px;
  }
}
// ページネーション
.pagination {
  text-align: center;
  margin-top: 24px;
}

.next,
.last,
.first,
.prev {
  background: #e0e0e0;
  border-radius: 6px;
  width: 40px;
  display: inline-block;
  color: #000;
  font-size: 12px;
  & a {
    color: #333;
  }
}

.current {
  color: #fa709a;
}

// 詳細
.articleImg {
  width: 100vw;
  text-align: center;
  background: #fff;
  & img {
    width: 414px;
    @media screen and (max-width: 414px) {
      width: 100%;
    }
  }
}
.article {
  position: relative;
  &__tags {
    margin-top: 16px;
    padding: 0 10px;
    & span {
      display: inline-block;
      padding: 0 8px;
      background: -webkit-linear-gradient(0deg, #fa709a, #fee140);
      border-radius: 16px;
    }
  }
  &__title {
    padding: 24px 10px 4px;
    text-align: center;
    font-size: 48px;
    @media screen and (max-width: 414px) {
      font-size: 24px;
    }
  }
  &__time {
    text-align: center;
    font-size: 12px;
  }
  &__body {
    padding: 32px 10px 14px;
    font-size: 14px;
  }
}
.editBtn,
.deleteBtn {
  margin-top: 12px;
  text-align: right;
  & a {
    padding: 4px 12px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 6px;
  }
}

// コメント
.commentForm {
  margin: 32px 0 8px;
  width: 100%;
  &__title {
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: bold;
    &::before {
      content: "";
      display: inline-block;
      width: 24px;
      height: 24px;
      background: url(/assets/writeComment.png) no-repeat;
      background-size: contain;
    }
  }
  &__inner {
    padding: 12px;
    border: 2px solid #fff;
    border-radius: 6px;
  }
  &__name,
  &__comment {
    margin-bottom: 8px;
    padding: 8px;
    background: rgba(255, 255, 255, 0.3);
  }
  &__comment {
    & textarea {
      width: 100%;
    }
  }
  &__btn {
    text-align: right;
    & input {
      padding: 4px 12px;
      background: rgba(255, 255, 255, 0.6);
      border-radius: 6px;
    }
  }
}
.comments {
  margin: 32px 0 8px;
  &__title {
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: bold;
    &::before {
      content: "";
      display: inline-block;
      width: 24px;
      height: 24px;
      background: url(/assets/comments.png) no-repeat;
      background-size: contain;
    }
  }
  &__item {
    margin-top: 12px;
    border-bottom: 1px solid #ccc;
    &Head {
      display: flex;
      justify-content: space-between;
      padding: 12px;
    }
    &Body {
      padding: 12px;
    }
    &Btn {
      text-align: right;
      display: block;
      padding: 12px;
      & a {
        padding: 4px 12px;
        background: rgba(255, 255, 255, 0.6);
        border-radius: 6px;
        display: inline-block;
      }
    }
  }
}
// 編集
.writeArticle {
  &__title {
    margin-top: 32px;
    font-size: 24px;
  }
  &__formImg {
    width: 300px;
    margin: 24px 0 12px 0;
    @media screen and (max-width: 320px) {
      width: 200px;
    }
    & img {
      width: 100%;
    }
    &Btn {
      @media screen and (max-width: 320px) {
        font-size: 12px;
      }
    }
  }
  &__formTitle {
    margin-top: 24px;
    & input {
      width: 100%;
      padding: 12px;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 6px;
    }
  }
  &__formBody {
    margin-top: 12px;
    & textarea {
      width: 100%;
      height: 500px;
      overflow-y: scroll;
      padding: 12px;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 6px;
    }
  }
  &__formTags {
    margin-top: 12px;
  }
}
.saveBtn {
  margin-top: 12px;
  text-align: right;
  & input {
    padding: 4px 12px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 6px;
  }
}
